:root {
  margin: 0;
  padding: 0;
  height: 4600px;
  overflow-x: hidden;
}

body,
html {
  width: 100%;
  height: 100%;
}

.nav-item:first-child {
  text-decoration: underline;
}

.nav-link,
.nav-link:hover {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.about-me {
  height: 890px;
}

button[type="button"]:active {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

button[type="button"]:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

button[type="submit"]:active {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.col {
  position: static;
}

.col1 {
  width: 484px;
  height: 653px;
}

.col1 h1 {
  margin-top: 192px;
  width: 484px;
  height: 220px;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
}

.col1 p {
  margin-top: 46px;
  width: 484px;
  height: 105px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.col1 .btn {
  width: 254px;
  height: 70px;
  background-color: #1a2236;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.bg-col {
  margin-right: 94px;
}

.bg-col #bg-design {
  position: absolute;
  width: 702px;
  height: 877px;
  left: 1200px;
  top: 100px;
}

.bg-col #dots {
  position: absolute;
  width: 175px;
  height: 175px;
  left: 1030px;
  top: 802px;
}

#bg-images {
  height: 1855px;
}

.img-dots {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 700px;
  top: 1187px;
}

.laptop {
  position: absolute;
  width: 960px;
  height: 558px;
  left: 1100px;
  top: 1187px;
}

.project-1 {
  position: absolute;
  width: 960px;
  height: 353px;
  left: 1100px;
  top: 1392px;
  background: rgba(26, 34, 54, 0.95);
}

.project-2 {
  position: absolute;
  background: rgba(26, 34, 54, 0.95);
  width: 600px;
  height: 218px;
  left: 1300px;
  top: 1797px;
}

.list-item {
  background-color: #98dede;
  margin-right: 20px;
}

.see-project {
  margin-left: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #1a2236;
  margin-top: 25px;
}

.project-box {
  right: 0;
}

.pj {
  position: absolute;
  width: 398px;
  height: 110px;
  left: 250px;
  top: 1324px;
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
  transform: rotate(-90deg);
}

.project-name {
  display: block;
  width: 726px;
  height: 48px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80%;
  color: #fff;
  margin: 60px 0 46px 60px;
}

.project-name2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0;
  text-align: left;
  margin: 60px 0 46px 60px;
}

.tech {
  margin-left: 60px;
  margin-bottom: 0;
}

.rect-46 {
  position: absolute;
  width: 770px;
  height: 270px;
  left: 0;
  top: 1825px;
}

.rect-27 {
  position: absolute;
  width: 800px;
  height: 465px;
  left: 0;
  top: 2095px;
}

.geom-2 {
  position: absolute;
  width: 532px;
  height: 350px;
  left: 770px;
  top: 1745px;
}

.geom-5 {
  position: absolute;
  width: 211.7px;
  height: 124.04px;
  left: 0;
  top: 2560px;
}

.rect-47 {
  position: absolute;
  width: 465px;
  height: 270px;
  left: 799px;
  top: 2560px;
}

.geom-3 {
  position: absolute;
  width: 730px;
  height: 275.42px;
  left: 800px;
  top: 2285px;
}

.rect-26 {
  position: absolute;
  width: 600px;
  height: 270px;
  left: 1300px;
  top: 2015px;
}

.rect-25 {
  position: absolute;
  width: 465px;
  height: 270px;
  left: 1300px;
  top: 1745px;
}

.list-of-technologies {
  width: 1120px;
  height: 586px;
  margin-left: 160px;
  margin-top: 216px;
}

.languages {
  position: absolute;
  top: 3236px;
  left: 362px;
}

.row-cols-1 {
  width: 577px;
}

#overlay {
  position: static;
  width: 289px;
  height: 289px;
  background: #1c528a;
}

#lang {
  padding-top: 21px;
  padding-left: 20px;
  width: 170px;
  height: 135px;
}

.title-lang {
  width: 116px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

.framework {
  position: absolute;
  top: 3242px;
  left: 655px;
}

.title-frame {
  width: 132px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

#overlay-2 {
  position: static;
  width: 289px;
  height: 289px;
  background: #e2505c;
}

.skills {
  position: absolute;
  top: 3525px;
  left: 362px;
}

#overlay-3 {
  position: static;
  width: 289px;
  height: 289px;
  background: #febf52;
}

.title-skills {
  width: 132px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

#skills-list {
  padding-left: 20px;
  padding-top: 21px;
  width: 250px;
  height: 135px;
}

#overlay-4 {
  position: static;
  width: 289px;
  height: 289px;
  background: #fff;
}

.dots {
  position: absolute;
  top: 3478px;
  left: 532px;
}

.shape {
  position: absolute;
  top: 3415px;
  left: 691px;
}

.resume {
  width: 446px;
  height: 303px;
  position: absolute;
  top: 3049px;
  left: 823px;
}

.resume h2 {
  width: 295px;
  height: 110px;
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 100%;
  color: #1a2236;
}

.resume p {
  margin-top: 30px;
  width: 446px;
  height: 63px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

.resume .btn {
  width: 254px;
  height: 70px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
}

.contact {
  margin-top: 158px;
  background-color: #f9f9fa;
  height: 950px;
}

.geom-6 {
  position: absolute;
}

.geom-7 {
  position: absolute;
  top: 4392px;
  left: 1550px;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started {
  width: 570px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 110px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #1a2236;
  margin-top: 168px;
}

.contact-note {
  width: 548px;
  height: 42px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-top: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 539px;
  width: 542px;
  height: 390px;
}

.input-fields {
  width: 542px;
  height: 82px;
  margin-top: 40px;
}

#lab1 {
  position: absolute;
  top: 4186px;
}

#lab2 {
  position: absolute;
  top: 4186px;
  left: 830px;
}

.contact-form > label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7d7c84;
}

#name {
  width: 254px;
  height: 60px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-right: 35px;
}

#name::placeholder,
#email::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a2236;
}

#email {
  width: 253px;
  height: 60px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #252c40;
  border-radius: 4px;
}

#message::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7d7c84;
}

#message {
  width: 542px;
  height: 140px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.start-collab {
  width: 254px;
  height: 70px;
  background: #1a2236;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #fff;
  margin-left: 130px;
}

.footer {
  background-color: #1a2236;
}

.cv {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  color: #92dcdc;
}

@media (max-width: 768px) {
  :root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .navbar {
    display: none !important;
  }

  .about-me {
    display: none !important;
  }

  #bg-images {
    display: none !important;
  }

  .list-of-technologies {
    margin: 0;
    position: absolute;
    top: 3200px;
  }

  .resume {
    position: absolute;
    top: -300px;
    left: 20px;
    margin: 0;
  }

  .resume h2 {
    width: 134px;
    height: 50px;
    font-size: 50px;
  }

  .resume p {
    width: 288px;
    height: 105px;
    font-size: 14px;
  }

  .resume .btn {
    width: 288px;
    height: 50px;
    margin-top: 20px;
  }

  .projects img {
    width: 320px;
    height: 186px;
    margin-top: 32px;
  }

  .project-button img {
    width: 20.57px;
    height: 15.35px;
    margin-left: 12px;
    margin-top: 0;
  }

  .resume .btn img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
  }

  .contact {
    width: 320px;
    height: 718px;
    background-color: #f9f9fa;
    position: absolute;
    top: 3912px;
    background-image: url('images-mobile/image_geometry_1.svg') no-repeat;
  }

  .geom-6,
  .geom-7 {
    display: none !important;
  }

  .get-started {
    font-size: 50px;
    margin-top: 133px;
  }

  .contact-note {
    width: 288px;
    height: 63px;
    font-size: 14px;
  }

  .contact-form {
    margin-left: 20px;
    display: flex;
    height: 430px;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-fields {
    display: block !important;
    margin-top: 20px;
    width: 288px;
    height: 52px;
  }

  #lab1 {
    position: absolute;
    top: 300px;
  }

  #lab2 {
    position: absolute;
    top: 400px;
    left: 20px;
  }

  #email {
    margin-top: 40px;
  }

  label[for="message"] {
    position: absolute;
    top: 510px;
  }

  #message {
    display: block !important;
    width: 255px;
    height: 122px;
    margin-top: 150px;
  }

  .start-collab {
    margin-left: 0;
  }

  .footer {
    position: absolute;
    top: 4835px;
    width: 318px;
    height: 137px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .get-my-cv {
    display: block !important;
    padding-left: 0 !important;
  }

  .cv {
    display: block !important;
    width: 164px;
    height: 24px;
  }

  .link-link {
    position: absolute;
    top: 47px;
    right: 90px;
  }

  .sites {
    position: absolute;
    top: 44px;
    right: -60px;
  }

  .sites > a {
    padding-right: 10px;
  }

  .dots,
  .shape {
    display: none !important;
  }

  .mobile-navigation {
    width: 100%;
    height: 150px;
    background: url('images-mobile/image_geometry_1.svg') no-repeat;
  }

  .bars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30px;
    height: 12px;
  }

  #bar1 {
    position: absolute;
    top: 20px;
    left: 278px;
    width: 24px;
    height: 2px;
    background: #000;
  }

  #bar2 {
    position: absolute;
    top: 26px;
    left: 278px;
    width: 24px;
    height: 2px;
    background: #000;
  }

  #bar3 {
    position: absolute;
    top: 32px;
    left: 278px;
    width: 24px;
    height: 2px;
    background: #000;
  }

  .about-me-mobile {
    width: 100%;
    height: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #me {
    width: 220px;
    height: 100px;
    margin-left: 16px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  #my-tech,
  #my-tech-span {
    display: block;
    width: 288px;
    margin-top: 17px;
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  #my-tech span {
    margin-top: 20px;
  }

  .collab-button {
    box-sizing: border-box;
    width: 288px;
    height: 50px;
    background: #1a2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    margin-top: 22px;
    margin-left: 16px;
  }

  #bg-geometry-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 160px;
    margin-top: 32px;
  }

  .my-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2134px;
    margin-top: 40px;
  }

  #project-title {
    width: 181px;
    height: 50px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    margin-left: 16px;
    color: #1a2236;
  }

  .projects {
    width: 320px;
    height: 342px;
  }

  .projects h3 {
    width: 264px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: #fff;
    margin: 20px 36px 16px 20px;
  }

  .technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
  }

  .technologies > li {
    list-style-type: none;
    background: #98dede;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10.3334px;
    color: #1a2236;
    text-align: center;
    width: 70px;
    height: 20px;
  }

  .technologis li:nth-child(1) {
    margin-left: 20px;
  }

  .technologies li:nth-child(2) {
    width: 90px;
  }

  .project-button {
    width: 178px;
    height: 44px;
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    margin: 0 122px 20px 20px;
    background: #1a2236;
  }

  .project-bg {
    background: #1a2236;
    border: 0.33333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5px);
  }
}
